<%- include ('partials/header')  %>
    <h1>GLOBAL</h1>
    <p>
        <strong>Total Confirmed</strong>-
        <%= data.Global.TotalConfirmed %> <br>
            <strong>Total Deaths</strong>-
            <%= data.Global.TotalDeaths %> <br>
                <strong>Total Recovered</strong>-
                <%= data.Global.TotalRecovered %> <br>
    </p>

    <form action="/global" method="POST">
        <input type="text" name="country">
        <button>Submit</button>
    </form>


    <%- include ('partials/footer')  %>