<%- include ('partials/inheader')  %>

    <div id='globe' class="container">
        <img id='flag' src="https://cdn.countryflags.com/thumbs/india/flag-800.png" alt="">
        <h1 id="country">
            India
        </h1>
        <p>
            <span id="cases"><strong>Total Confirmed :</strong><br></span>
            <span id="confirm"><%= data[0].confirmed %> <br></span>
            <span id="cases"><strong>Total Recovered :</strong><br></span>
            <span id="recover">  <%= data[0].recovered %><br> </span>
            <span id="cases"><strong>Total Deaths :</strong><br></span>
            <span id="death"><%=data[0].deaths %><br></span>


        </p>


        <form action="/state" class="form" action="get">
            <div class="form-group mx-sm-4 mb-3" id="stateSearch">
                <label for="state" class="col-sm-2 col-form-label" style="font-family: 'Rubik', sans-serif;font-weight: 500;">State:</label>
                <select name="state" class="form-control col-md-6" id="exampleFormControlSelect1" style="margin: auto;">
                    <% data.forEach(function(state) { %>
                
                     <option value="<%= state.state %> "><%= state.state %> </option>
                     <% }) %>
                </select>
                <button id="button" class="btn btn-primary mb-2" type="submit" style="margin-top: 10px;">Search</button>
            </div>
        </form>
    </div>




    <%- include ('partials/footer')  %>