<%- include ('partials/header')  %>
    <p>
        <h1>
            <%= data[data.length-1].Country %>
                </strong>
        </h1>
        <img src="https://www.countryflags.io/<%= data[data.length-1].CountryCode %>/flat/64.png" alt=""> <br>
        <strong>Confirmed</strong> -
        <%= data[data.length-1].Confirmed %> <br>
            <strong>Active</strong> -
            <%= data[data.length-1].Active %><br>
                <strong>Recovered</strong> -
                <%= data[data.length-1].Recovered %><br>
                    <strong>Deaths</strong> -
                    <%= data[data.length-1].Deaths %>

    </p>

    <%- include ('partials/footer')  %>