<%- include ('partials/inheader')  %>


    <% var err=1; %>
        <% data.forEach(function(sta){%>
            <% if(sta.state==st){ err=0;%>

                <div id='globe' class="container">

                    <h1 id="country">
                        <%= sta.state %>
                    </h1>
                    <p>
                        <span id="cases"><strong>Total Confirmed :</strong><br></span>
                        <span id="confirm"> <%= sta.confirmed %><br></span>
                        <span id="cases"><strong>Total Recovered :</strong><br></span>
                        <span id="recover">   <%= sta.recovered %><br> </span>
                        <span id="cases"><strong>Total Deaths :</strong><br></span>
                        <span id="death"><%= sta.deaths %><br></span>


                    </p>


                </div>
                <%} %>

                    <%})%>
                        <div class="container">

                            <div class="table-responsive" id="table">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">District</th>
                                            <th scope="col">Active</th>
                                            <th scope="col">Confirmed</th>
                                            <th scope="col">Recovered</th>
                                            <th scope="col">Deaths</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% Object.keys(tableData).forEach((key,index)=>{ %>


                                            <tr>
                                                <td id="district">
                                                    <%= key %>
                                                </td>
                                                <td>
                                                    <%= tableData[key].active %>
                                                </td>
                                                <td>
                                                    <%=  tableData[key].confirmed %> <span id="ch"> +<%=tableData[key].delta.confirmed %></span>
                                                </td>
                                                <td>
                                                    <%=  tableData[key].recovered %> <span id="chr"> +<%=tableData[key].delta.recovered %></span>
                                                </td>
                                                <td>
                                                    <%=  tableData[key].deceased %> <span id="ch"> +<%=tableData[key].delta.deceased %></span>
                                                </td>

                                            </tr>


                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% if (err) { %>


                            <h1>Something went wrong.</h1>

                            </div>
                            <% } %>

                                <%- include ('partials/footer')  %>